[Unit]
Description=Monasca Api
Requires=network.target
After=network.target kafka.service influxdb.service mysql.service

[Service]
Type=simple
User={{ monasca_api_user }}
Group={{ monasca_group }}
LimitNOFILE=32768
ExecStart={{ monasca_virtualenv_dir }}/bin/gunicorn -n monasca-api -k eventlet --worker-connections=2000 --backlog=1000 --paste {{ api_wsgi_file }}
Restart=on-failure

[Install]
WantedBy=multi-user.target
