[Unit]
Description=Monasca Events Engine
After=kafka.service postfix.service

[Service]
Type=simple
User={{ events_user }}
Group={{ events_group }}
Restart=always
ExecStart={{ monasca_virtualenv_dir }}/bin/events_engine

[Install]
WantedBy=multi-user.target
