# Startup script for the monasca-events-api

description "Monasca Events API"
start on runlevel [2345]
stop on runlevel [!2345]

console log
respawn

setuid {{ events_user }}
setgid {{ events_group }}
exec /usr/local/bin/gunicorn -k eventlet --worker-connections=2000 --backlog=1000 --paste /etc/monasca/events_api.ini --name monasca-events-api